<p id="notice"><%= notice %></p>
<h4>Orden Nº: <%= @order.id %></h4>
<tr>
            <th>Producto:</th>
            <th>Cantidad:</th>
        </tr>
<section>
  <%= render @order.line_items%>
</section>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>