<h2>Iniciar sesion</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="password-field">
    <%= f.label :password%>
    <%= f.password_field :password, autocomplete: "current-password",class: 'white-field' %>
  </div>

  <div class="actions">
    <%= f.submit "Iniciar sesion", class: 'btn' %>
  </div>
<% end %>

